/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset above */

h1,
h3,
input,
p {
    font-family: "Rubik", sans-serif;
}

h3 {
    font-size: 0.8rem;
    color: grey;
}

.headContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    background-image: url("../images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 1%;
}

.headContainer h1 {
    font-size: 1.6rem;
    color: white;
}

.headContainer div,
.headContainer h1 {
    margin: 1% 0;
}

.search {
    width: 40%;
    display: flex;
    justify-content: center;
}

input {
    outline: none;
    width: 70%;
    padding: 2.5%;
    border-radius: 10px 0 0 10px;
    border: none;
}

input:hover,
button:hover {
    cursor: pointer;
}

button {
    background-color: black;
    border-radius: 0 10px 10px 0;
    border: none;
    padding: 2.5%;
    outline: none;
    transition-duration: 0.3;
    transition: all;
}

button:active {
    background-color: grey;
    transition: all;
    transition-duration: 0.2s;
}
.headContainer .card {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    width: 75%;
    height: 18vh;
    margin-top: 2.8%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(163, 163, 163, 1);
    box-shadow: 2px 2px 5px 0px rgba(163, 163, 163, 1);
}

.card div {
    border-right: 1px solid grey;
    width: 20%;
    margin: 2%;
}

.card div p {
    margin-top: 5%;
}

.card div:last-of-type {
    border: none;
}

#mapid {
    height: 70vh;
    position: relative;
    z-index: -1;
}
